<form [formGroup]="itemForm">
  <div class="modal fade text-left" id="modal_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">{{modalTitle}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="cancelItem()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="inputid" class="col-sm-2 col-form-label">id</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputid" [formControl]="itemForm.controls['id']">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputUserId" class="col-sm-2 col-form-label">userId</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="inputUserId" [formControl]="itemForm.controls['userId']">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputtitle" class="col-sm-2 col-form-label">title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputtitle" [formControl]="itemForm.controls['title']">
            </div>
          </div>
          <div class="form-group row">
            <label for="textareabody" class="col-sm-2 col-form-label">body</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="textareabody" [formControl]="itemForm.controls['body']" rows="5"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn grey btn-outline-secondary" (click)="cancelItem()">{{ 'GENERAL.CANCEL' | translate }}</button>
          <button type="submit" class="btn btn-outline-primary" (click)="saveItem()">{{ 'GENERAL.SAVE_CHANGES' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</form>
