<div class="modal fade text-left" id="modal_delete_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true"
  data-backdrop="static">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">{{ 'ITEMS.DELETE_ITEM' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ 'ITEMS.ITEM_CONFIRM_DELETE' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-outline-secondary" (click)="cancel()">{{ 'GENERAL.CANCEL' | translate }}</button>
        <button type="submit" class="btn btn-outline-primary" (click)="save()">{{ 'GENERAL.CONFIRM' | translate }}</button>
      </div>
    </div>
  </div>
</div>
