<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img class="logo" src="../assets/logo AIVO transparent.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" (click)="setLanguage('es')" tooltip="{{ 'GENERAL.CHANGE_ES' | translate }}"
            placement="bottom" container="body">
            <img class="flag-icon" src="../assets/es.png">
          </button>
          <button type="button" class="btn btn-secondary" (click)="setLanguage('en')" tooltip="{{ 'GENERAL.CHANGE_EN' | translate }}"
            placement="bottom" container="body">
            <img class="flag-icon" src="../assets/en.png">
          </button>
        </div>
      </li>
      <li class="nav-item d-none d-sm-block">
        <div class="header-welcome">
          <h4 *ngIf="auth.isAuthenticated()">{{ 'HOME.WELCOME' | translate }} {{profile.name}}</h4>
        </div>
      </li>
      <li class="nav-item">

      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button id="qsLoginBtn" class="btn btn-primary my-2 my-sm-0" *ngIf="!auth.isAuthenticated()" (click)="auth.login()" type="button">
        {{ 'HOME.LOGIN' | translate }}
      </button>
      <div class="float-right" *ngIf="auth.isAuthenticated()">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="profile-picture-sm" src="{{profile_picture}}">
          </button>
          <div class="dropdown-menu dropdown-menu-profile" aria-labelledby="btnGroupDrop1">
            <div class="dropdown-item card">
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <img class="profile-picture" src="{{profile_picture}}">
                  </div>
                  <div class="col-8 profile-data">
                    <div class="profile-data-name">{{profile.name}}</div>
                    <div class="profile-data-nickname">{{profile.nickname}}@gmail.com</div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button id="qsLogoutBtn2" class="btn float-right profile-logout" *ngIf="auth.isAuthenticated()" (click)="auth.logout()" type="button">
                  {{ 'HOME.LOGOUT' | translate }}
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>

  <!--
  <div class="container-fluid">
    <div class="float-left">
      <form class="form-inline">

        <img class="logo" src="../assets/logo AIVO transparent.png">

        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" (click)="setLanguage('es')" tooltip="{{ 'GENERAL.CHANGE_ES' | translate }}"
            placement="bottom" container="body">
            <img class="flag-icon" src="../assets/es.png">
          </button>
          <button type="button" class="btn btn-secondary" (click)="setLanguage('en')" tooltip="{{ 'GENERAL.CHANGE_EN' | translate }}"
            placement="bottom" container="body">
            <img class="flag-icon" src="../assets/en.png">
          </button>
        </div>
        <div class="header-welcome">
          <h4 *ngIf="auth.isAuthenticated()">{{ 'HOME.WELCOME' | translate }} {{profile.name}}</h4>
        </div>
      </form>
    </div>
    <button id="qsLoginBtn" class="btn btn-primary my-2 my-sm-0" *ngIf="!auth.isAuthenticated()" (click)="auth.login()" type="button">
      {{ 'HOME.LOGIN' | translate }}
    </button>
    <div class="float-right" *ngIf="auth.isAuthenticated()">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="profile-picture-sm" src="{{profile_picture}}">
        </button>
        <div class="dropdown-menu dropdown-menu-profile" aria-labelledby="btnGroupDrop1">
          <div class="dropdown-item card">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <img class="profile-picture" src="{{profile_picture}}">
                </div>
                <div class="col-8 profile-data">
                  <div class="profile-data-name">{{profile.name}}</div>
                  <div class="profile-data-nickname">{{profile.nickname}}@gmail.com</div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button id="qsLogoutBtn2" class="btn float-right profile-logout" *ngIf="auth.isAuthenticated()" (click)="auth.logout()" type="button">
                {{ 'HOME.LOGOUT' | translate }}
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>-->
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<toaster-container [toasterconfig]="config"></toaster-container>
