@import "./assets/fontawesome-5/css/fontawesome-all.min.css";
@import '../node_modules/angular2-toaster/toaster.css';
/* You can add global styles to this file, and also import other style files */

main {
  padding-top: 6.5rem;
}

.logo {
  opacity: 1;
  height: 75px;
  width: auto !important;
  max-width: none;
  -webkit-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}

.header-welcome {
  margin-left: 30px;
}

.dropdown-menu.dropdown-menu-profile {
  left: unset !important;
  right: 0 !important;
  padding: 0 !important;
}

.dropdown-item.card {
  min-width: 345px !important;
  border: none !important;
  white-space: normal !important;
  padding: 0 !important;
}

.profile-picture-sm {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
}

.profile-picture {
  width: 96px !important;
  height: 96px !important;
  border-radius: 50% !important;
}

.profile-data {
  margin: -4px 0 1px 0;
  text-overflow: ellipsis;
  font-size: 13px;
  padding-top: 20px !important;
}

.profile-data-name {
  font-weight: bold;
}

.profile-data-nickname {
  font-size: small;
}

.profile-logout {
  font-size: 13px;
}

@media (max-width: 576px) {
  .dropdown-menu.dropdown-menu-profile {
    right: unset !important;
  }
}

.flag-icon {
  width: 30px;
}
