<div class="container-fluid" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary mb-2" (click)="newItem()" data-toggle="modal" data-target="#modal_item">
        <i class="fas fa-plus"></i>
        {{ 'ITEMS.ADD_ITEM' | translate }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-5 col-form-label">{{ 'ITEMS.FILTER_USERID' | translate }}</label>
      <div class="col-sm-7">
        <input class="form-control" type="number" [(ngModel)]="search.userId">
      </div>
    </div>
  </div>

  <table class="table table-sm">
    <thead>
      <tr>
        <th></th>
        <th scope="col">id</th>
        <th scope="col">userId</th>
        <th scope="col">title</th>
        <th scope="col">body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of items | userIdFilter: search">
        <td>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-secondary" (click)="editItem(i)" tooltip="{{ 'ITEMS.EDIT_ITEM' | translate }}">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-secondary" (click)="deleteItem(i)" tooltip="{{ 'ITEMS.DELETE_ITEM' | translate }}">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </td>
        <th scope="row">{{i.id}}</th>
        <td>{{i.userId}}</td>
        <td>{{i.title}}</td>
        <td>{{i.body}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal-item></app-modal-item>
<app-modal-delete-item></app-modal-delete-item>
<h4 *ngIf="!auth.isAuthenticated()">
  {{ 'HOME.NOT_LOGIN' | translate }}
</h4>
